.title {
    -fx-font-size: 125%;
    -fx-font-weight: bolder;
    -fx-text-fill: midnightblue;
}

.subtitle {
    -fx-font-weight: bolder;
}

.button {
    -fx-padding: 10px;
}

.bordered {
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    -fx-border-color: grey;
}

.table {
    -fx-font-weight: normal;
    -fx-font-size: 10px;
}